/* BIG SCREENS */
@media screen and (min-width: 601px) {
.item1 { grid-area: ione; }
.item2 { grid-area: itwo; }
.item3 { grid-area: ithree; }
.item4 { grid-area: ifour; }
.item5 { grid-area: ifive; }
.item6 { grid-area: isix; }
.item7 { grid-area: iseven; }
.item8 { grid-area: ieight; }
.item9 { grid-area: inine; }

.smallscreens{
    display: none;
}
.gridcontainer{
    display:grid;
    grid-template-areas:
    'ione ione ione ione itwo itwo'
    'ithree ithree ithree ithree ithree ithree'
    'ifour ifive isix isix iseven  iseven'
    'ieight ieight ieight ieight inine  inine';
  gap: 10px;
  background-color: #fff;
  padding: 20px 40px 20px 40px;
}

.headingone{
    font-size: 20px;
    font-weight: 700;
    color: #414756;
}
.headingtwo{
    font-size: 14px;
    font-weight: 500;
    color: #414756;
}

.bluetxt{
color: #0188f3;
}

.bluebox{
    margin: 0 10px;
    border: none;
    padding: 1px;
}

.txtthree{
    font-size: 13px;
}
.item2{
    position: relative;
    width: 100%;
}

.item7{
    position: relative;
    width: 100%;
}

.twobtns{
    position: absolute;
    right: 0;
    
}


.onebtn{
    position: absolute;
    right: 0;
    margin: 0 10px 0 0;
}
.btnnone{
    background-color: #0188f3;
    border-radius: 0;
    border: 2px solid #0188f3;
    margin: 0 10px;
    color:#fff;
    padding: 4px 30px;
    font-size: 14px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

}

.btnntwo{
    background-color: #0188f3;
    border-radius: 0;
    border: 2px solid #0188f3;
    color:#fff;

    padding: 4px 80px;
    font-size: 14px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    

}
/* LEFT */
.mainbox{
    border: none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    
}

textarea {
    width: 100%;

    padding: 13px 20px;
    box-sizing: border-box;
    border: 2px solid #fff;
    background-color: #fff;
    font-size: 14px;
    resize: none;
    outline: none;
  }

select{
    outline: 1px solid #0188f3;
    border: none;
    padding: 2px 4px;
    font-size: 13px;
}

input{
    outline: 1px solid #0188f3;
    border: none;
    padding: 2px 4px;
    font-size: 13px;
}
option{
   
    font-size: 13px;
}
.flexfunc{
    display: flex;
    border-bottom: 1px solid black;
    margin:0 0 10px 0 ;

}

.wordcountmain{
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    font-size: 13px;
    
}

.wordcountchild{
    position: absolute;
    right:0;
    
}

.boxi{
    border: 1px solid rgba(243, 243, 243, 0.9);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    padding: 0 10px;
    min-width: 10px;
    margin: 10px ;
    font-weight: 600;
    
}

.texti{
    
    padding: 0 10px;
    min-width: 10px;
    margin: 10px ;
    font-weight: 400;
    font-size: 14px;
}

/* RIGHT */
.cleartextmain{
    position: relative;
    width: 100%;
    padding: 10px 0 10px 0 ;
}
.cleartext{
    font-size: 13px;
    color: #ff8d8d;
    position: absolute;
    right: 0;
    
    
   
}


.rightbox{
    border: none;
   

}

.copied{
    border: none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 10px 0 ;
    padding: 10px ;
    font-size: 13px;
    
}

.copy{
    color: #0188f3;
}
}
/* SMALL SCREENS */
@media screen and (max-width: 601px) {
    .bigscreen{
        display: none;
    }
    .maincon{
        padding: 20px;
    }
    .headingone{
        font-size: 22px;
        font-weight: 600;
    }

    .btnsave{
        border: none;
        background-color: #0188f3;
        color: #fff;
        padding: 4px 20px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        font-size: 18px;
    }

    .savecon{
        position: relative;
        width: 100%;
    }
    .saveconchild{
        position: absolute;
        right: 0;
        margin-right: 30px;
    }
    .rowone{
        margin: 10px 0 16px 0;
    }
.rowtwo{
    margin: 10px 0 ;
}
    .headingtwo{
        font-size: 16px;
        font-weight: 500;
    }

    .bluetext{
        color: #0188f3;
    }

    .rowthree{
        margin: 10px 0 ;
    }

    .txtthree{
        font-size: 13px;
    }

    textarea {
        width: 100%;
    
        padding: 13px 20px;
        box-sizing: border-box;
        border: 2px solid #fff;
        background-color: #fff;
        font-size: 14px;
        resize: none;
        outline: none;
      }
    
    select{
        outline: 1px solid #0188f3;
        border: none;
        padding: 2px 4px;
        font-size: 13px;
    }
    
    input{
        outline: 1px solid #0188f3;
        border: none;
        padding: 2px 4px;
        font-size: 13px;
    }
    option{
       
        font-size: 13px;
    }

    .bluebox{
        margin:0 8px;
    }

    .rowfour{
        margin: 10px 0 ;
    }

    .rowfive{
        margin: 10px 0 ;
    }

    .flexfunc{
        display: flex;
        border-bottom: 1px solid black;

    }

    .boxi{
        border: 1px solid rgba(243, 243, 243, 0.9);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        padding: 0 10px;
        min-width: 10px;
        margin: 4px ;
        font-weight: 600;
        
    }
    
    .texti{
        
        padding: 0 6px;
        margin: 4px ;
        font-weight: 400;
        font-size: 14px;
    }
    .mainbox{
        border: none;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    
        
    }
.writecon{
   
    text-align: center;
}
    .write{
        background-color: #0188f3;
        color: #fff;
        border: none;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        padding: 10px 30px;
        width: 90%;
        font-size: 18px;
    }
    .copied{
        border: none;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        margin: 10px 0 ;
        padding: 10px ;
        font-size: 13px;
        max-width: 96%;
        
    }
    
    .copy{
        color: #0188f3;
    }
    .navtxt{
        font-weight: 500;
        margin: 0 10px;
        font-size: 16px;
        color:#707070
    }

    .wordcon{
        position: relative;
        width: 100%;
        margin-bottom: 13px;
        font-size: 13px;
    }
    .wordconchild{
        position: absolute;
        right: 0;
        margin-right: 30px;
    }

}